<div class="products-namespace">
	<h2 class="page-header text-center">Grand Pianos</h2>
    <div id="paginator" class="text-center">
        <%= paginate @pianos, remote: true %>
    </div>
    <div id="products" class="row list-group">
            <%= render partial: 'products/product',
                       collection: @pianos,
                       as: :product %>
    </div>
    <br>
    <div id="paginator" class="text-center">
        <%= paginate @pianos, remote: true %>
    </div>
    <br>
</div>
