<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
body {
  margin: 0;
  mso-line-height-rule: exactly;
  padding: 0;
  min-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  padding: 0;
  vertical-align: top;
}
.spacer,
.border {
  font-size: 1px;
  line-height: 1px;
}
.spacer {
  width: 100%;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.image {
  font-size: 12px;
  Margin-bottom: 27px;
  mso-line-height-rule: at-least;
}
.image img {
  display: block;
}
.logo {
  mso-line-height-rule: at-least;
}
.logo img {
  display: block;
}
strong {
  font-weight: bold;
}
h1,
h2,
h3,
p,
ol,
ul,
li {
  Margin-top: 0;
}
ol,
ul,
li {
  padding-left: 0;
}
blockquote {
  Margin-top: 0;
  Margin-right: 0;
  Margin-bottom: 0;
  padding-right: 0;
}
.column-top {
  font-size: 20px;
  line-height: 20px;
}
.column-bottom {
  font-size: 3px;
  line-height: 3px;
}
.column {
  text-align: left;
}
.contents {
  table-layout: fixed;
  width: 100%;
}
.padded {
  padding-left: 20px;
  padding-right: 20px;
  word-break: break-word;
  word-wrap: break-word;
}
.wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-width: 620px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.wrapper a {
  transition: opacity 0.2s ease-in;
}
table.wrapper {
  table-layout: fixed;
}
.one-col,
.two-col,
.three-col {
  Margin-left: auto;
  Margin-right: auto;
  width: 600px;
}
.centered {
  Margin-left: auto;
  Margin-right: auto;
}
.btn {
  Margin-bottom: 27px;
}
.btn a {
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding: 13px 35px 12px 35px;
  text-align: center;
  text-decoration: none !important;
}
.btn a:hover {
  opacity: 0.8;
}
.two-col .btn {
  Margin-bottom: 24px;
}
.two-col .btn a {
  font-size: 12px;
  line-height: 22px;
  padding: 10px 28px;
}
.three-col .btn {
  Margin-bottom: 21px;
}
.three-col .btn a {
  font-size: 11px;
  line-height: 19px;
  padding: 6px 18px 5px 18px;
}
@media only screen and (max-width: 620px) {
  .btn {
    margin-bottom: 27px !important;
  }
  .btn a {
    display: block !important;
    font-size: 14px !important;
    line-height: 24px !important;
    padding: 13px 10px 12px 10px !important;
  }
}
.two-col .image {
  Margin-bottom: 24px;
}
.two-col .column-bottom {
  font-size: 0;
  line-height: 0;
}
.two-col .column {
  width: 300px;
}
.three-col .image {
  Margin-bottom: 21px;
}
.three-col .column-bottom {
  font-size: 0;
  line-height: 0;
}
.three-col .column {
  width: 200px;
}
@media only screen and (min-width: 0) {
  .wrapper {
    text-rendering: optimizeLegibility;
  }
}
@media only screen and (max-width: 620px) {
  [class=wrapper] {
    min-width: 320px !important;
    width: 100% !important;
  }
  [class=wrapper] .one-col,
  [class=wrapper] .two-col,
  [class=wrapper] .three-col {
    width: 320px !important;
  }
  [class=wrapper] .column,
  [class=wrapper] .gutter {
    display: block;
    float: left;
    width: 320px !important;
  }
  [class=wrapper] .padded {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  [class=wrapper] .block {
    display: block !important;
  }
  [class=wrapper] .hide {
    display: none !important;
  }
  [class=wrapper] .image {
    margin-bottom: 27px !important;
  }
  [class=wrapper] .image img {
    height: auto !important;
    width: 100% !important;
  }
}
.wrapper h1 {
  font-weight: 400;
}
.wrapper h2 {
  font-weight: 700;
}
.wrapper h3 {
  font-weight: 700;
}
.wrapper p,
.wrapper ol,
.wrapper ul {
  font-weight: 400;
}
.wrapper blockquote {
  font-style: italic;
}
.divider {
  font-size: 4px;
  line-height: 4px;
}
.contents .divider,
.footer .divider table {
  Margin-bottom: 27px;
}
.divider .bullet {
  border-radius: 2px;
  display: inline-block;
  font-size: 4px;
  height: 4px;
  line-height: 4px;
  width: 4px;
}
.one-col,
two-col,
.three-col {
  table-layout: fixed;
}
.email-top,
.email-bottom {
  font-size: 54px;
  line-height: 54px;
}
.wrapper a {
  text-decoration: underline;
}
.wrapper h1 {
  font-size: 32px;
  Margin-bottom: 24px;
}
.wrapper h2 {
  font-size: 22px;
  Margin-bottom: 16px;
}
.wrapper h3 {
  font-size: 18px;
  Margin-bottom: 12px;
}
.wrapper h1 a,
.wrapper h2 a,
.wrapper h3 a {
  text-decoration: none;
}
.wrapper p,
.wrapper ol,
.wrapper ul {
  font-size: 17px;
}
.wrapper li {
  Margin-bottom: 14px;
}
.wrapper ol {
  Margin-left: 24px;
}
.wrapper ol li {
  padding-left: 4px;
}
.wrapper ul {
  Margin-left: 18px;
}
.wrapper ul li {
  padding-left: 9px;
}
.wrapper blockquote {
  Margin-left: 0;
  padding-left: 17px;
}
.one-col .column table:nth-last-child(2) td h1:last-child,
.one-col .column table:nth-last-child(2) td h2:last-child,
.one-col .column table:nth-last-child(2) td h3:last-child,
.one-col .column table:nth-last-child(2) td p:last-child,
.one-col .column table:nth-last-child(2) td ol:last-child,
.one-col .column table:nth-last-child(2) td ul:last-child {
  Margin-bottom: 27px;
}
.two-col .column table:nth-last-child(2) td h1:last-child,
.two-col .column table:nth-last-child(2) td h2:last-child,
.two-col .column table:nth-last-child(2) td h3:last-child,
.two-col .column table:nth-last-child(2) td p:last-child,
.two-col .column table:nth-last-child(2) td ol:last-child,
.two-col .column table:nth-last-child(2) td ul:last-child {
  Margin-bottom: 24px;
}
.two-col h1 {
  font-size: 28px;
  Margin-bottom: 20px;
}
.two-col h2 {
  Margin-bottom: 14px;
}
.two-col h3 {
  font-size: 16px;
  Margin-bottom: 10px;
}
.two-col p,
.two-col ol,
.two-col ul {
  font-size: 15px;
}
.two-col ol {
  Margin-left: 21px;
}
.two-col ol li {
  padding-left: 3px;
}
.two-col ul {
  Margin-left: 18px;
}
.two-col ul li {
  padding-left: 6px;
}
.two-col li {
  Margin-bottom: 12px;
}
.two-col .divider {
  Margin-bottom: 24px;
}
.two-col blockquote {
  border-left-width: 3px;
  padding-left: 15px;
}
.three-col .column table:nth-last-child(2) td h1:last-child,
.three-col .column table:nth-last-child(2) td h2:last-child,
.three-col .column table:nth-last-child(2) td h3:last-child,
.three-col .column table:nth-last-child(2) td p:last-child,
.three-col .column table:nth-last-child(2) td ol:last-child,
.three-col .column table:nth-last-child(2) td ul:last-child {
  Margin-bottom: 21px;
}
.three-col h1 {
  font-size: 24px;
  Margin-bottom: 16px;
}
.three-col h2 {
  font-size: 16px;
  Margin-bottom: 12px;
}
.three-col h3 {
  font-size: 14px;
  Margin-bottom: 8px;
}
.three-col p,
.three-col ol,
.three-col ul {
  font-size: 13px;
}
.three-col ul {
  Margin-left: 16px;
}
.three-col ul li {
  padding-left: 6px;
}
.three-col ol {
  Margin-left: 18px;
}
.three-col ol li {
  padding-left: 4px;
}
.three-col li {
  Margin-bottom: 10px;
}
.three-col .divider {
  Margin-bottom: 21px;
}
.three-col blockquote {
  border-left-width: 2px;
  padding-left: 13px;
}
.header,
.footer {
  Margin-left: auto;
  Margin-right: auto;
  width: 560px;
}
.header td {
  font-size: 24px;
}
.header .logo {
  padding-bottom: 27px;
}
.header .logo div {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
.header .logo div a {
  text-decoration: none;
}
.header .logo div.logo-center {
  text-align: center;
}
.header .logo div.logo-center img {
  Margin-left: auto;
  Margin-right: auto;
}
.footer div {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 17px;
  Margin-bottom: 17px;
}
.footer div a {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer .divider {
  Margin-bottom: 10px;
}
.footer .divider table {
  Margin-left: auto;
  Margin-right: auto;
}
.footer .divider td.spacer {
  width: 8px;
}
@media only screen and (max-width: 620px) {
  [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td h1:last-child,
  [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td h1:last-child,
  [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td h1:last-child,
  [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td h2:last-child,
  [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td h2:last-child,
  [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td h2:last-child,
  [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td h3:last-child,
  [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td h3:last-child,
  [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td h3:last-child,
  [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td p:last-child,
  [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td p:last-child,
  [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td p:last-child,
  [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td ol:last-child,
  [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td ol:last-child,
  [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td ol:last-child,
  [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td ul:last-child,
  [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td ul:last-child,
  [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td ul:last-child {
    Margin-bottom: 27px !important;
  }
  [class=wrapper] .email-top,
  [class=wrapper] .email-bottom {
    font-size: 28px !important;
    line-height: 28px !important;
  }
  [class=wrapper] .header,
  [class=wrapper] .footer {
    width: 280px !important;
  }
  [class=wrapper] .logo img {
    max-width: 280px !important;
    height: auto !important;
  }
  [class=wrapper] blockquote {
    border-left-width: 4px !important;
    margin-left: 0 !important;
    padding-left: 14px !important;
  }
  [class=wrapper] h1 {
    font-size: 32px !important;
    line-height: 42px !important;
    margin-bottom: 24px !important;
  }
  [class=wrapper] h2 {
    font-size: 22px !important;
    line-height: 30px !important;
    margin-bottom: 16px !important;
  }
  [class=wrapper] h3 {
    font-size: 18px !important;
    line-height: 26px !important;
    margin-bottom: 12px !important;
  }
  [class=wrapper] .one-col p,
  [class=wrapper] .two-col p,
  [class=wrapper] .three-col p,
  [class=wrapper] .one-col ol,
  [class=wrapper] .two-col ol,
  [class=wrapper] .three-col ol,
  [class=wrapper] .one-col ul,
  [class=wrapper] .two-col ul,
  [class=wrapper] .three-col ul {
    font-size: 17px !important;
    line-height: 27px !important;
    margin-bottom: 27px !important;
  }
  [class=wrapper] ol {
    margin-left: 24px !important;
  }
  [class=wrapper] ol li {
    padding-left: 4px !important;
  }
  [class=wrapper] ul {
    margin-left: 19px !important;
  }
  [class=wrapper] ul li {
    padding-left: 9px !important;
  }
  [class=wrapper] li {
    margin-bottom: 14px !important;
  }
  [class=wrapper] .divider {
    margin-bottom: 27px !important;
  }
  [class=wrapper] .column-bottom {
    font-size: 3px !important;
    line-height: 3px !important;
  }
  [class=wrapper] .first .column-bottom,
  [class=wrapper] .second .column-top,
  [class=wrapper] .three-col .second .column-bottom,
  [class=wrapper] .third .column-top {
    display: none;
  }
  [class=wrapper] .show {
    display: block !important;
    font-size: 1px;
    line-height: 1px;
  }
  [class=wrapper] .hide {
    display: none !important;
  }
}
</style>
    <!--[if mso]>
   <style>
     .bullet, .footer .divider {
       display: none;
     }
   </style>
   <![endif]-->
  <meta name="robots" content="noindex,nofollow">
<meta property="og:title" content="My First Campaign">
<style type="text/css">.fancybox-margin{margin-right:17px;}</style></head>
<body style="margin: 0px; padding: 0px; min-width: 100%; background-color: rgb(255, 255, 255);"><style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400);@import url(https://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);@import url(https://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400);@import url(https://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);@import url(https://fonts.googleapis.com/css?family=Merriweather:400italic,400,700,700italic);body,.wrapper,.emb-editor-canvas,.one-col,.two-col,.three-col{background-color:#fff}blockquote{border-left:4px solid #ccc}h1{color:#404040}.wrapper h1{}.wrapper h1{font-family:sans-serif}@media only screen and (min-width: 0){.wrapper h1{font-family:"Open Sans",sans-serif !important}}h1{}.one-col h1{line-height:40px}.two-col h1{line-height:36px}.three-col
h1{line-height:30px}@media only screen and (max-width: 620px){h1{line-height:40px !important}}h2{color:#706f70}.wrapper h2{}.wrapper h2{font-family:sans-serif}@media only screen and (min-width: 0){.wrapper h2{font-family:Cabin,Avenir,sans-serif !important}}h2{}.one-col h2{line-height:30px}.two-col h2{line-height:30px;font-size:22px}.three-col h2{line-height:22px}@media only screen and (max-width: 620px){h2{line-height:30px !important}}h3{color:#706f70}.wrapper h3{}.wrapper h3{font-family:sans-serif}@media only screen and (min-width: 0){.wrapper h3{font-family:Cabin,Avenir,sans-serif !important}}h3{}.one-col h3{line-height:24px;font-style:italic}.two-col h3{line-height:22px;font-style:italic}.three-col h3{font-style:italic;line-height:20px}@media only screen and (max-width: 620px){h3{line-height:24px !important;font-style:italic !important}}p,ol,ul{color:#8f8f8f}.wrapper p,.wrapper
ol,.wrapper ul{}.wrapper p,.wrapper ol,.wrapper ul{font-family:sans-serif}@media only screen and (min-width: 0){.wrapper p,.wrapper ol,.wrapper ul{font-family:"Open Sans",sans-serif !important}}p,ol,ul{}.one-col p,.one-col ol,.one-col ul{line-height:27px;Margin-bottom:27px}.two-col p,.two-col ol,.two-col ul{line-height:23px;Margin-bottom:23px}.three-col p,.three-col ol,.three-col ul{line-height:20px;Margin-bottom:20px}@media only screen and (max-width: 620px){p,ol,ul{line-height:27px !important;Margin-bottom:27px !important}}.image{color:#8f8f8f}.image{font-family:sans-serif}@media only screen and (min-width: 0){.image{font-family:"Open Sans",sans-serif !important}}.wrapper a{color:#e45d6b}.wrapper a:hover{color:#dd3143 !important}.wrapper .logo div{color:#202020}.wrapper .logo div{font-family:Georgia,serif}@media only screen and (min-width: 0){.wrapper .logo
div{font-family:Merriweather,Georgia,serif !important}}.wrapper .logo div a{color:#202020}.wrapper .logo div a:hover{color:#202020 !important}.btn a{}.wrapper .btn a{}.wrapper .btn a{font-family:sans-serif}@media only screen and (min-width: 0){.wrapper .btn a{font-family:"Open Sans",sans-serif !important}}.wrapper .btn a{background-color:#e45d6b;color:#fefefe}.wrapper .btn a:hover{color:#fefefe !important}.divider .bullet{background-color:#ccc}.bullet-light{display:none}.header,.footer{color:#bdb9bd}.header,.footer{font-family:sans-serif}@media only screen and (min-width: 0){.header,.footer{font-family:Cabin,Avenir,sans-serif !important}}.wrapper .header a,.wrapper .footer a{color:#bdb9bd}.wrapper .header a:hover,.wrapper .footer a:hover{color:#a49fa4 !important}
</style>
    <center class="wrapper" style="display: table;table-layout: fixed;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;background-color: #fff">
      <div class="email-top" style="font-size: 54px;line-height: 54px">&nbsp;</div>
      <table class="header centered" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 560px;color: #bdb9bd;font-family: sans-serif">
        <tbody><tr>
          <td class="logo" style="padding: 0;vertical-align: top;mso-line-height-rule: at-least;font-size: 24px;padding-bottom: 27px">
            <div class="logo-left" style="font-weight: bold;font-size: 32px;line-height: 40px;color: #202020;font-family: Georgia,serif" align="left" id="emb-email-header"><img style="border: 0;-ms-interpolation-mode: bicubic;display: block;max-width: 190px" src="https://i1.createsend1.com/ei/i/06/304/F44/015545/csfinal/Symphony.jpg" alt="" width="127" height="158"></div>
          </td>
        </tr>
      </tbody></table>

          <table class="one-col centered" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px;table-layout: fixed;background-color: #fff" emb-background-style="">
            <tbody><tr>
              <td class="column" style="padding: 0;vertical-align: top;text-align: left">
                <div><div class="column-top" style="font-size: 20px;line-height: 20px">&nbsp;</div></div>
                  <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                    <tbody><tr>
                      <td class="padded" style="padding: 0;vertical-align: top;padding-left: 20px;padding-right: 20px;word-break: break-word;word-wrap: break-word">

            <h1 style="Margin-top: 0;color: #404040;font-weight: 400;font-size: 32px;Margin-bottom: 24px;font-family: sans-serif;line-height: 40px;text-align: center">Welcome to the Symphony Store!</h1>

                      </td>
                    </tr>
                  </tbody></table>

                  <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                    <tbody><tr>
                      <td class="padded" style="padding: 0;vertical-align: top;padding-left: 20px;padding-right: 20px;word-break: break-word;word-wrap: break-word">

            <div class="image" style="font-size: 12px;Margin-bottom: 27px;mso-line-height-rule: at-least;color: #8f8f8f;font-family: sans-serif" align="center">
              <a style="transition: opacity 0.2s ease-in;text-decoration: underline;color: #e45d6b" href="http://yakovenkoinc.createsend1.com/t/i-l-jknijt-l-r/" target="_blank"><img style="border: 0;-ms-interpolation-mode: bicubic;display: block;max-width: 590px" src="https://i1.createsend1.com/ei/i/06/304/F44/015545/csfinal/saxophone.jpg" alt="Symphony Store" width="560" height="380"></a>
            </div>

                      </td>
                    </tr>
                  </tbody></table>

                  <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                    <tbody><tr>
                      <td class="padded" style="padding: 0;vertical-align: top;padding-left: 20px;padding-right: 20px;word-break: break-word;word-wrap: break-word">

            <h2 style="Margin-top: 0;color: #706f70;font-weight: 700;font-size: 22px;Margin-bottom: 16px;font-family: sans-serif;line-height: 30px;text-align: center">Dear <%= Translit.convert(@user.first_name.capitalize, :english) %>, we are happy to have you with us, at Symphony Online Store!</h2><p style="Margin-top: 0;color: #8f8f8f;font-weight: 400;font-size: 17px;font-family: sans-serif;line-height: 27px;Margin-bottom: 27px;text-align: left">&nbsp; &nbsp; You now have become a valued member of our clients community and a customer of the store which offers the finest musical instruments varying from violins and guitars to saxophones and grand pianos. We - the Symphony team - will do everything possible in order to deliver you you the best experience in musical on-line shopping, so now make sure you're comfortable on your seat and visit our About Page, which contains all the information you might need.&nbsp;</p>

                      </td>
                    </tr>
                  </tbody></table>

                  <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                    <tbody><tr>
                      <td class="padded" style="padding: 0;vertical-align: top;padding-left: 20px;padding-right: 20px;word-break: break-word;word-wrap: break-word">

            <div class="btn" style="Margin-bottom: 27px;text-align: center">
              <!--[if !mso]--><a style="border-radius: 3px;display: inline-block;font-size: 14px;font-weight: 700;line-height: 24px;padding: 13px 35px 12px 35px;text-align: center;text-decoration: none !important;transition: opacity 0.2s ease-in;color: #fefefe;font-family: sans-serif;background-color: #1abc9c" href="http://yakovenkoinc.createsend1.com/t/i-l-jknijt-l-r/" target="_blank">Visit our About Page!</a><!--[endif]-->
            <!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" href="http://yakovenkoinc.createsend1.com/t/i-l-jknijt-l-y/" style="width:216px" arcsize="7%" fillcolor="#1ABC9C" stroke="f"><v:textbox style="mso-fit-shape-to-text:t" inset="0px,12px,0px,11px"><center style="font-size:14px;line-height:24px;color:#FEFEFE;font-family:sans-serif;font-weight:700;mso-line-height-rule:exactly;mso-text-raise:4px">Visit our About Page!</center></v:textbox></v:roundrect><![endif]--></div>

                      </td>
                    </tr>
                  </tbody></table>

                <div class="column-bottom" style="font-size: 3px;line-height: 3px">&nbsp;</div>
              </td>
            </tr>
          </tbody></table>

      <table class="footer centered" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 560px;color: #bdb9bd;font-family: sans-serif">
        <tbody><tr>
          <td style="padding: 0;vertical-align: top" align="center">
            <div class="column-top" style="font-size: 11px;line-height: 17px;font-weight: 400;letter-spacing: 0.01em;Margin-bottom: 17px">&nbsp;</div>
            <center class="divider" style="font-size: 4px;line-height: 4px;Margin-bottom: 10px">
              <table style="border-collapse: collapse;border-spacing: 0;Margin-bottom: 27px;Margin-left: auto;Margin-right: auto">
                <tbody><tr>
                  <td style="padding: 0;vertical-align: top"><span class="bullet" style="border-radius: 2px;display: inline-block;font-size: 4px;height: 4px;line-height: 4px;width: 4px;background-color: #ccc">&nbsp;</span></td>
                  <td class="spacer" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;width: 8px">&nbsp;</td>
                  <td style="padding: 0;vertical-align: top"><span class="bullet" style="border-radius: 2px;display: inline-block;font-size: 4px;height: 4px;line-height: 4px;width: 4px;background-color: #ccc">&nbsp;</span></td>
                  <td class="spacer" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;width: 8px">&nbsp;</td>
                  <td style="padding: 0;vertical-align: top"><span class="bullet" style="border-radius: 2px;display: inline-block;font-size: 4px;height: 4px;line-height: 4px;width: 4px;background-color: #ccc">&nbsp;</span></td>
                </tr>
              </tbody></table>
            </center>
            <!--[if mso]>
             <div class="bullet-dark"><v:group xmlns:v="urn:schemas-microsoft-com:vml" style="width:28px;height:4px;position:absolute;mso-position-horizontal:center;" coordorigin="0,0" coordsize="28,4">
               <v:oval style="position:absolute;left:0;top:0;width:4;height:4" fill="t" stroke="f"><v:fill color="black" opacity="20%" /></v:oval>
               <v:oval style="position:absolute;left:12;top:0;width:4;height:4" fill="t" stroke="f"><v:fill color="black" opacity="20%" /></v:oval>
               <v:oval style="position:absolute;left:24;top:0;width:4;height:4" fill="t" stroke="f"><v:fill color="black" opacity="20%" /></v:oval>
             </v:group></div>
             <div class="bullet-light"><v:group xmlns:v="urn:schemas-microsoft-com:vml" style="width:28px;height:4px;position:absolute;mso-position-horizontal:center;" coordorigin="0,0" coordsize="28,4">
               <v:oval style="position:absolute;left:0;top:0;width:4;height:4" fill="t" stroke="f"><v:fill color="white" opacity="20%" /></v:oval>
               <v:oval style="position:absolute;left:12;top:0;width:4;height:4" fill="t" stroke="f"><v:fill color="white" opacity="20%" /></v:oval>
               <v:oval style="position:absolute;left:24;top:0;width:4;height:4" fill="t" stroke="f"><v:fill color="white" opacity="20%" /></v:oval>
             </v:group></div>
           <![endif]-->
            <div style="font-size: 11px;font-weight: 400;letter-spacing: 0.01em;line-height: 17px;Margin-bottom: 17px">You received this email because you sign up at Symphony Store. Please, ignore this letter if you think it is addressed not to you.</div>
            <div style="font-size: 11px;font-weight: 400;letter-spacing: 0.01em;line-height: 17px;Margin-bottom: 17px">
              <span>No Images? <a style="transition: opacity 0.2s ease-in;text-decoration: none;color: #bdb9bd;font-weight: 700;letter-spacing: 0.03em" href="http://yakovenkoinc.createsend1.com/t/i-e-jknijt-l-i/" target="_blank">Click here</a></span>
              <span>&nbsp;&nbsp;·&nbsp;&nbsp;</span>
                <a style="transition: opacity 0.2s ease-in;text-decoration: none;color: #bdb9bd;font-weight: 700;letter-spacing: 0.03em" href="http://yakovenkoinc.createsend1.com/t/i-u-jknijt-l-d/" target="_blank">Unsubscribe</a>
            </div>

          </td>
        </tr>
      </tbody></table>
      <div class="email-bottom" style="font-size: 54px;line-height: 54px">&nbsp;</div>
    </center>
  <img style="border: 0 !important;-ms-interpolation-mode: bicubic;visibility: hidden !important;display: block !important;height: 1px !important;width: 1px !important;margin: 0 !important;padding: 0 !important" src="https://yakovenkoinc.createsend1.com/t/i-o-jknijt-l/o.gif" width="1" height="1" border="0" alt="">
<script type="text/javascript" src="https://js.createsend1.com/js/jquery-1.7.2.min.js?h=C99A4659dragonfruit"></script><script type="text/javascript">$(function(){$('area,a').attr('target', '_blank');});</script>
<div id="window-resizer-tooltip" style="display: none;"><a href="#" title="Edit settings"></a><span class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth">1680</span> x <span class="tooltipHeight" id="winHeight">1010</span><br><span class="tooltipTitle">Viewport size: </span><span class="tooltipWidth" id="vpWidth">1680</span> x <span class="tooltipHeight" id="vpHeight">150</span></div></body>