<table class="table">
	<tbody>
		<tr><td><h4 class="account-info"><strong>Email:</strong><br> <%= @user.email %></h4></td></tr>
		<tr><td><h4 class="account-info"><strong>Shipping Address:</strong><br> <%= @user.address %> </h4></td></tr>
		<tr><td><h4 class="account-info"><strong>Phone Number:</strong><br> <%= @user.phone %></h4></td></tr>
	</tbody>
</table>