<!-- <div class="container">
    <div class="row user-edit-info">
        <div class="col-sm-8">
            <h4 class="page-header">Edit Your Info</h4>
            <form role="form">
                <div class="form-group float-label-control">
                    <label for="">First name</label>
                    <input type="email" class="form-control" placeholder="First name">
                </div>
                <div class="form-group float-label-control">
                    <label for="">Last name</label>
                    <input type="email" class="form-control" placeholder="Last name">
                </div>
                <div class="form-group float-label-control">
                    <label for="">Password</label>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group float-label-control">
                    <label for="">Shipping address</label>
                    <textarea class="form-control" placeholder="Shipping address" rows="1"></textarea>
                </div>
                <div class="form-group float-label-control">
                    <label for="">Phone number</label>
                    <input type="tel" class="form-control" placeholder="Phone number">
                </div>
            </form>

            <form role="form">
                <div class="form-group float-label-control label-bottom">
                    <label for="">Username</label>
                    <input type="email" class="form-control" placeholder="Username">
                </div>
            </form>

            <form role="form">
                <div class="form-group float-label-control">
                    <label for="">Email Address</label>
                    <input type="email" class="form-control" placeholder="What's your email address?">
                </div>
            </form>

        </div>
    </div>
</div>
 -->