@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Raleway);
.about-page {
    padding-top: 50px;
    .nav-sidebar {
        width: 100%;
        padding: 8px 0;

        border-right: 1px solid #ddd;
        a {
            -webkit-transition: all .08s ease;
               -moz-transition: all .08s ease;
                -ms-transition: all .08s ease;
                 -o-transition: all .08s ease;
                    transition: all .08s ease;

            color: #333;
            -webkit-border-radius: 4px 0 4px;
                    border-radius: 4px 0 4px;
        }
        .active a {
            cursor: default;

            color: #fff;
            background-color: #428bca;
            text-shadow: 1px 1px 1px #666;
            &:hover {
                background-color: #428bca;
            }
        }
    }
    .form-group {
        input.form-control,
        button.btn-primary {
            margin-bottom: 30px;
        }
    }
    .subarticle {
        margin: 50px 0 50px 0;

        text-indent: 50px;
    }
    .description hr {
        width: 85%;
        margin-left: 0;
    }
    #about-content {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Bitter', Garamond, Arial, serif;
            line-height: 1.7;
        }
        h1 {
            font-family: 'Bitter', Garamond, Arial, serif;

            display: inline;

            margin-left: 20px;

            text-align: center;
            letter-spacing: .1ch;
        }
        img {
            display: inline;

            max-width: 190px !important;
        }
        p {
            font-family: 'Raleway', Helvetica, sans-serif;
            font-size: 1.2em;
            line-height: 1.7;
        }
        article {
            max-width: 85% !important;

            text-align: justify;
            text-indent: 50px;
            letter-spacing: .01ch;
                word-break: normal;
            -ms-word-break: normal;
            -webkit-hyphens: auto;
               -moz-hyphens: auto;
                    hyphens: auto;
        }
        ul {
            list-style-type: none;
        }
    }
}
.cd-top {
    position: fixed;
    bottom: 40px;
    left: 10px;

    display: inline-block;
    visibility: hidden;
    overflow: hidden;

    width: 40px;
    height: 40px;

    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
       -moz-transition: opacity .3s 0s, visibility 0s .3s;
            transition: opacity .3s 0s, visibility 0s .3s;
    white-space: nowrap;
    text-indent: 100%;

    opacity: 0;
    background: rgba(232, 98, 86, .8) url(cd-top-arrow.svg) no-repeat center 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    span {
        position: fixed;
        z-index: 9 !important;
    }
}
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
       -moz-transition: opacity .3s 0s, visibility 0s 0s;
            transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;

    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.no-touch .cd-top:hover {
    opacity: 1;
    background-color: #e86256;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        bottom: 20px;
        left: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        bottom: 30px;
        left: 30px;

        width: 60px;
        height: 60px;
    }
}
