@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Raleway);

.about-page {
    padding-top: 50px;
    .nav-sidebar {
        width: 100%;
        padding: 8px 0;

        border-right: 1px solid #ddd;
        a {
            -webkit-transition: all .08s ease;
               -moz-transition: all .08s ease;
                -ms-transition: all .08s ease;
                 -o-transition: all .08s ease;
                    transition: all .08s ease;

            color: #333;
            -webkit-border-radius: 4px 0 4px;
                    border-radius: 4px 0 4px;
        }
        .active a {
            cursor: default;

            color: #fff;
            background-color: #428bca;
            text-shadow: 1px 1px 1px #666;
            &:hover {
                background-color: #428bca;
            }
        }
    }
    .form-group {
        input.form-control,
        button.btn-primary {
            margin-bottom: 30px;
        }
    }
    .subarticle {
        margin: 50px 0 50px 0;

        text-indent: 50px;
    }
    .description hr {
        width: 85%;
        margin-left: 0;
    }
    #about-content {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Bitter', Garamond, Arial, serif;
            line-height: 1.7;
        }
        h1 {
            font-family: 'Bitter', Garamond, Arial, serif;

            display: inline;

            margin-left: 20px;

            text-align: center;
            letter-spacing: .1ch;
        }
        img {
            display: inline;

            max-width: 190px !important;
        }
        p,
        figcaption {
            font-family: 'Raleway', Helvetica, sans-serif;
        }
        p {
            font-size: 1.2em;
            line-height: 1.7;
        }
        article {
            max-width: 85% !important;

            text-align: justify;
            text-indent: 50px;
            letter-spacing: .01ch;
                word-break: normal;
            -ms-word-break: normal;
            -webkit-hyphens: auto;
               -moz-hyphens: auto;
                    hyphens: auto;
        }
        ul {
            list-style-type: none;
        }
    }
}

.col-centered {
    display: block !important;

    margin-right: auto !important;
    margin-left: auto !important;

    text-align: center !important;
}

.dev-page {
    h1 {
        font-size: 3em !important;

        width: 100%;
        margin: 0 auto;
        padding-bottom: 50px !important;
    }
}

.dev-avatar {
    display: inline-block;
    float: none;

    margin: 0 auto !important;
    padding: 20px 30px !important;

    cursor: pointer;
    -webkit-transition: .3s all ease-in-out;
       -moz-transition: .3s all ease-in-out;
        -ms-transition: .3s all ease-in-out;
         -o-transition: .3s all ease-in-out;
            transition: .3s all ease-in-out;
    &:hover {
        img {
            opacity: .8;
        }
        figcaption {
            letter-spacing: .03ch !important;
            font-size: 1.02em;

            opacity: 1;
        }
    }
    img {
        width: 250px;
        min-width: 200px;
        min-height: 200px;

        -webkit-transition: .3s all ease-in-out;
           -moz-transition: .3s all ease-in-out;
            -ms-transition: .3s all ease-in-out;
             -o-transition: .3s all ease-in-out;
                transition: .3s all ease-in-out;
        text-align: center;

        border: inset 5px solid #999;
        -webkit-border-radius: 50%;
                border-radius: 50%;
    }
    figcaption {
        margin-left: 15px !important;
        padding: 5px 20px !important;

        -webkit-transition: .3s all ease-in-out;
           -moz-transition: .3s all ease-in-out;
            -ms-transition: .3s all ease-in-out;
             -o-transition: .3s all ease-in-out;
                transition: .3s all ease-in-out;
        text-align: center;
    }
}
