.main-navbar {
	.navbar-nav>li>.dropdown-menu {
	    margin-top:20px;
	    border-top-left-radius:4px;
	    border-top-right-radius:4px;
	}
	.navbar-default .navbar-nav>li>a {
	    width:200px;
	    font-weight:bold;
	}
	.mega-dropdown {
	  position: static !important;
	  width:100%;
	}
	.mega-dropdown-menu {
	    padding: 20px 0px;
	    width: 100%;
	    box-shadow: none;
	    -webkit-box-shadow: none;
	}
	.mega-dropdown-menu:before {
	    content: "";
	    border-bottom: 15px solid #fff;
	    border-right: 17px solid transparent;
	    border-left: 17px solid transparent;
	    position: absolute;
	    top: -15px;
	    left: 285px;
	    z-index: 10;
	}
	.mega-dropdown-menu:after {
	    content: "";
	    border-bottom: 17px solid #ccc;
	    border-right: 19px solid transparent;
	    border-left: 19px solid transparent;
	    position: absolute;
	    top: -17px;
	    left: 283px;
	    z-index: 8;
	}
	.mega-dropdown-menu > li > ul {
	  padding: 0;
	  margin: 0;
	}
	.mega-dropdown-menu > li > ul > li {
	  list-style: none;
	}
	.mega-dropdown-menu > li > ul > li > a {
	  display: block;
	  padding: 3px 20px;
	  clear: both;
	  font-weight: normal;
	  line-height: 1.428571429;
	  color: #999;
	  white-space: normal;
	}
	.mega-dropdown-menu > li ul > li > a:hover,
	.mega-dropdown-menu > li ul > li > a:focus {
	  text-decoration: none;
	  color: #444;
	  background-color: #f5f5f5;
	}
	.mega-dropdown-menu .dropdown-header {
	  color: #428bca;
	  font-size: 18px;
	  font-weight:bold;
	}
	.mega-dropdown-menu form {
	    margin:3px 20px;
	}
	.mega-dropdown-menu .form-group {
	    margin-bottom: 3px;
	}

	.glyphicon-chevron-down {
		padding-left: 15px;
	}
}


// ====== LOGIN ======
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px;
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0;
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
.navbar-right .dropdown .dropdown-toggle {
	width: 100% !important;

	.glyphicon-chevron-down::before {
		padding-right: 15px !important;
	}
}
@media(min-width: 900px){
	#login-dp {
		margin-right: 0px !important;
	}
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


// ======= SEARCH FORM =====

#search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);

    opacity: 0;
}

#search-list-element {

	.glyphicon-search::before {
		padding-left: 10px;
	}

	a {
		width: 100% !important;
	}
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
    z-index: 999999 !important;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}