.glyphicon { margin-right: 5px; }

.thumbnail {
    margin-bottom: 20px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.item {
    &.list-group-item {
        float: none;
        width: 100%;
        background: #fff;
        margin-bottom: 10px;

        &:nth-of-type(odd) {
            background: #eee;
        }

        &:nth-of-type(odd):hover,
        &:hover {
            background: #428bca;
        }

        &:before,
        &:after {
            display: table;
            content: " ";
        }

        &:after {
            clear: both;
        }

        .list-group-image {
            margin-right: 10px;
        }

        img {
            float: left;
        }

        .thumbnail {
            margin-bottom: 0;
        }

        .caption {
            padding: 9px 9px 0 9px;
        }
    }
}
.list-group-item-text {
    margin: 0 0 11px;
}