<%= simple_form_for([@product[0], @product[0].comments.build]) do |f| %>
  <div class="panel panel-info">
    <div class="panel-heading">New comment</div>
    <div class="panel-body">
      <%= f.error_notification %>
      <%= f.input :body, required: true, placeholder: 'Type in a new comment...', input_html: { class: 'form-control'}, label: false %>
    </div>
    <div class="panel-footer">
      <%= f.button :submit, class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>