<div class="item col-xs-4 col-lg-4">
	<div class="thumbnail">
		<img class="group list-group-image" src="http://placehold.it/400x250/00/fff" alt="" />
		<div class="caption">
			<h4 class="group inner list-group-item-heading">
				<%= product.name %>
			</h4>
			<p class="group inner list-group-item-text">
				<%= product.description.truncate(82, separator: ' ') %>
			</p>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<p class="lead">
						<%= number_to_currency(product.price, unit: '₴') %>
					</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<!-- TODO: ADD TO CART LINK -->
					<a href="#" class="btn btn-success">Add to Cart</a>
				</div>
			</div>
		</div>
	</div>
</div>